* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgb(0, 150, 136) 15%,
        rgb(218, 219, 211) 15%
      );
    
  } 
img{
    width:100%;
    height: auto;
    display: block;
}
p{
    margin:0px;
}
.avatar-img {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
   }
.icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
   }
/* LAYOUT */
main{
    width: 100%;
    height: 90vh;
    background-color: aliceblue;
  }
/* left part main layout*/
.left{
    width: 30%;
    border-right: 1px solid blue;
}
.user{
    min-height: 10%;
    background-color: #eaeaea;
}
.notification{
    min-height: 10%;
    background-color: #8edafc;
}
#icon{
    position: relative;
    top: 8px;
    left: 8px;
}
.underline{
    text-decoration: underline;
}
.serch{
    min-height: 5%;
    background-color: #fafafa;
}
.contacts{
    min-height: 75%;
    background-color: white;
    overflow-y: scroll;
}
.contacts-border{
    border-bottom:1px solid #fafafa;
}

/* right part main layout */
.right{
    width:70%;
}

.message-contact{
    min-height: 10%;
    background-color: #eaeaea;
}
.message{
    min-height: 80%;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}
.typing{
    min-height: 10%;
    background-color: #f3eeea;
}
.input{
    width: 50vw;
    height: 5vh;
    border: 0px transparent solid;
    border-radius: 12px;
    padding: 20px;
}